ul {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}
.scrollable-list {
  list-style: none;
  width: 600px;
  max-height: 300px;
  overflow-y: auto;
  padding: 0;
}
.select {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}
.stencils-list {
  padding: 6px;
  border: 1px solid;
  margin: 5px 0;
  cursor: pointer;
}

.dark li:hover {
  background-color: #333;
}
.high-contrast li:hover {
  background-color: blue;
}

.light li:hover {
  background-color: #e0e0e0;
}

select {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
}

select:hover {
  border-color: #999;
}

select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
