.theme-switcher {
  position: relative;
  display: inline-block;
}

.theme-switcher button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
}

.theme-switcher > button {
  margin-left: 15px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 130%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform-origin: top right;
  animation: dropdown-animation 0.3s ease-out forwards;
}

.dropdown-menu button {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: flex-start;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}

@keyframes dropdown-animation {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
