/* Light Theme */
.light .header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: var(--light-shadow);
}

/* Dark Theme */
.dark .header {
  /*  background-color: #021b44; */
  background-color: #151515;
  border-bottom: 1px solid #444;
  box-shadow: var(--dark-shadow);
}

/* High Contrast Theme */
.high-contrast .header {
  box-shadow: var(--contrast-shadow);
}

/* Common Styles */
.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.logo {
  margin-left: 20px;
  width: 100%;
}

.logo-img {
  width: 120px;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.nav-bar li a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.nav-bar li a:hover {
  border-bottom: 2px solid white;
}

.select-theme {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #333;
}

.dark .select-theme {
  background-color: #333;
  color: #f5f5f5;
}

.high-contrast .select-theme {
  background-color: #000;
  color: #fff;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
}
